* {
  box-sizing: border-box !important;
  padding: 0;
  margin: 0;
  transition: ease all 0.5s;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #666666;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  line-height: 1.80857;
  font-weight: normal;
  overflow-x: hidden;
}

a {
  color: #1f1f1f;
  text-decoration: none !important;
  outline: none !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0;
  font-weight: normal;
  position: relative;
  padding: 0 0 10px 0;
  font-weight: normal;
  line-height: normal;
  color: #111111;
  margin: 0;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 13px;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #212121;
  text-decoration: none !important;
  opacity: 1;
}

button:focus {
  outline: none;
}

ul,
li,
ol {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

p {
  margin: 0px;
  font-weight: 300;
  font-size: 15px;
  line-height: 24px;
}

a {
  color: #222222;
  text-decoration: none;
  outline: none !important;
}

a,
.btn {
  text-decoration: none !important;
  outline: none !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

img {
  max-width: 100%;
  height: auto;
}

:focus {
  outline: 0;
}
/* customize ///////////////////////////////////////// */
.nav {
  margin-left: 5%;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.header {
  font-family: poppins;
  padding: 10px 0px;
  background: url(./images/hea.png) center center / 100% 100% no-repeat;
  background-repeat: no-repeat;
  background-position: center center;
}
.logo_section {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav.main-menu {
  float: right;
  margin-left: 0px;
}
.main-menu ul {
  list-style-type: none;
  margin: 0px 0px 10px;
}
.main-menu ul > li {
  position: inherit;
  display: inline-block;
  vertical-align: middle;
}
.main-menu ul li:first-child {
  margin-left: 0px;
}
.main-menu ul > li a {
  line-height: 20px;
  font-size: 16px;
  display: block;
  font-weight: 500;
  color: rgb(255, 255, 255);
  padding: 22px 30px;
}
/* main section /////////////////////////////////////////////////////////// */
.carousel-inner .relative {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: left;
  bottom: auto;
}
.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}
.banner-main .carousel-caption span {
  font-size: 65px;
  font-weight: 500;
  line-height: 70px;
  padding-bottom: 10px;
  display: block;
}
.banner-main .carousel-caption h1 {
  color: #fff;
  font-size: 62px;
  line-height: 70px;
  font-weight: bold;
}
.banner-main .carousel-caption p {
  font-size: 17px;
  padding: 20px 0px 50px 0px;
}
.banner-main .carousel-caption .search {
  text-transform: uppercase;
  border: #ff0000 solid 1px;
  background: #ff0000;
  width: 196px;
  padding: 12px 0;
  display: inline-block;
  font-weight: 500;
  font-size: 17px;
  line-height: 30px;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  margin-left: 3%;
}
.banner-main .carousel-caption .search:hover {
  border: #fff solid 1px;
  background: #fff;
  color: #ff0000;
}
.parant-search-div {
  display: flex;
}
.form-control-search {
  display: block;
  width: 62%;
  height: calc(2.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
/* Our Brand /////////////////////////////////////////////////////////////// */
.brand {
  padding-top: 60px;
  border-top: #db0000 solid 6px;
}
#descrept{
  color:#FF0000;
  font-weight: 500;
}
.parant-brand {
  width: 100%;
  display: flex;
}
.brand-child {
  margin-bottom: 30px;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.brand-bg {
  background: #ebebeb;
  padding: 90px 0px;
}
.brand-bg .brand_box {
  background: #fff;
  text-align: center;
  padding: 80px 0px 30px 0px;
}
.brand-bg .brand_box > img {
  height: 200px;
  width: auto;
}
.brand-bg .brand_box h3 {
  font-size: 27px;
  font-weight: bold;
  color: #131313;
  padding: 17px 0px 0px 0px;
}
.brand-bg .brand_box span {
  display: block;
  color: #23242a;
  font-size: 18px;
  line-height: 16px;
  margin-top: 5%;
  padding-bottom: 3px;
}

button.btn.btn-danger {
  font-family: poppins;
  margin: 0 auto;
  display: block;
  background: #ff0000c7;
  border: none;
  color: #fff;
  padding: 10px 0px;
  width: 37%;
  font-size: 17px;
  margin-top: 5%;
  border-radius: 3px;
  cursor: pointer;
}
button.btn.btn-danger:hover {
  background: #fff;
  border: 0.5px solid #ff0000c7;
  color: #ff0000c7;
}

img.phone_img {
  width: 80%;
}
/* About Us ////////////////////////////////////////////////////////////////// */

.about {
  padding-top: 90px;
  padding-bottom: 84px;
  background: url(./images/aboutbg.jpg);
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-size: auto;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}
.about .about_box {
  text-align: right;
  padding-top: 130px;
}
.about .about_box h3 {
  font-weight: bold;
  font-size: 30px;
  color: #888687;
  line-height: 32px;
  padding-bottom: 7px;
  display: block;
}
.about .about_box span {
  font-weight: bold;
  font-size: 50px;
  line-height: 58px;
  color: #23242a;
  padding-bottom: 10px;
  display: block;
}
.about .about_box p {
  font-size: 17px;
  line-height: 30px;
  color: #23242a;
}
.phone-info {
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}
/* Contact Us form //////////////////////////////////////////////////////// */
.contact {
  background: #ffffff;
  padding: 90px 0px;
}
.form-parant {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.titlepage {
  padding-bottom: 60px;
}
.titlepage h2 {
  font-size: 50px;
  line-height: 40px;
  font-weight: bold;
  padding: 0;
}
.contact .main_form {
  background: #fff;
  box-shadow: #ddd 0px 0px 19px 1px;
  padding: 40px;
}
.form-control {
  border: #ff0000 solid 2px;
  border-radius: inherit;
  margin-bottom: 30px;
  padding: 13px 20px;
  font-family: poppins;
}
.form-control {
  display: block;
  width: 100%;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.send {
  font-family: poppins;
  max-width: 212px;
  margin: 0 auto;
  display: block;
  background: #000;
  color: #fff;
  padding: 12px 0px;
  width: 100%;
  font-size: 17px;
}
.send:hover {
  background: #ff0000;
}
/* footer ***************** */
.copyright {
  margin-top: 50px;
  background: rgb(0, 0, 0);
  padding: 20px 0px;
}
.copyright p {
  color: rgb(255, 255, 255);
  font-size: 16px;
  text-align: center;
  margin: 0px auto;
}
.copyright a {
  color: rgb(0, 0, 0);
}

/* Extra small devices  */
@media (max-width: 575.98px) {
  .container {
    width: 100%;
    max-width: 400px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .about {
    background: inherit;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .main-menu ul > li a {
    padding: 22px 20px;
  }
  .location_icon_bottum {
    display: none;
  }
  .banner-main .carousel-caption span {
    font-size: 45px;
    line-height: 50px;
    padding-bottom: 10px;
  }
  .banner-main .carousel-caption h1 {
    font-size: 55px;
    line-height: 63px;
  }
  .banner-main .carousel-caption p {
    padding: 15px 0px 25px 0px;
  }
  .about {
    background: inherit;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .logo {
    padding-top: 11px;
  }
  .banner-main .carousel-caption h1 {
    font-size: 36px;
    padding-top: 30px;
  }
  .banner-main .carousel-caption span {
    font-size: 30px;
    line-height: 19px;
    padding-bottom: 0px;
  }
  .banner-main .carousel-caption h1 {
    font-size: 32px;
    padding-top: 15px;
    line-height: 40px;
  }
  .banner-main .carousel-caption p {
    font-size: 15px;
    padding: 10px 0px 20px 0px;
  }
  .banner-main .carousel-caption .buynow {
    width: 149px;
    padding: 7px 0;
  }
  .carousel-inner .relative {
    top: 43%;
  }
  .about {
    background: inherit;
  }
  .about .about_box {
    padding-top: 0px;
  }
  .about .about_box span {
    font-size: 44px;
  }
  .about_img {
    margin-top: 30px;
  }
  .about_box_ span {
    font-size: 44px;
  }
  .testomonial_section {
    padding: 0 91px;
  }
  .row {
    flex-wrap: nowrap;
  }
  .main-menu ul > li a {
    font-size: 15px;
    padding: 14px 16px;
  }
  img.pomato {
    width: 74%;
    padding-left: 10%;
  }
  .main-menu ul {
    margin: 0px 15px 10px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .last {
    display: none !important;
  }
  .location_icon_bottum {
    display: none;
  }
  .logo {
    padding-top: 7px;
    padding-left: 15px;
    width: 83%;
  }
  .mean-container .mean-bar {
    background: #000;
  }
  .mean-container .mean-bar {
    margin-left: 20px;
  }
  .banner-main .carousel-caption span {
    font-size: 25px;
    line-height: 19px;
  }
  .banner-main .carousel-caption h1 {
    font-size: 30px;
    line-height: 40px;
  }
  .banner-main .carousel-caption p {
    display: none;
  }
  .banner-main .carousel-caption .buynow {
    width: 149px;
    padding: 7px 0;
  }
  .titlepage h2 {
    font-size: 42px;
  }
  .about .about_box_ {
    margin-bottom: 30px;
  }
  .about {
    background: inherit;
  }
  .mrgn {
    margin-top: 0px;
  }
  .img-box {
    display: none;
  }
  ul.link li {
    padding: 8px 8px;
  }
  .testomonial_section {
    padding: 0px;
  }
  .cross_inner {
    transform: inherit;
  }
  .cross_layout {
    transform: inherit;
  }
  .testimonial_cont {
    padding-left: 10px;
    padding-right: 10px;
  }
  .main-menu ul > li a {
    font-size: 16px;
    padding: 14px 16px;
  }
  .carousel-inner .relative {
    top: 35%;
  }
  .row-header {
    max-width: 100%;
  }
}

@media (max-width: 575px) {
  .relative {
    left: 21%;
  }
  .mean-container .mean-bar {
    margin-bottom: -1px;
  }
  .img-box {
    display: none;
  }
  .logo {
    padding-top: 7px;
    padding-left: 15px;
    width: 83%;
  }

  li.last {
    display: none !important;
  }
  .banner-main .carousel-item img {
    height: 290px;
  }
  .banner-main .carousel-caption span {
    font-size: 21px;
    line-height: 19px;
  }
  .banner-main .carousel-caption h1 {
    font-size: 20px;
    line-height: 40px;
  }
  .banner-main .carousel-caption p {
    display: none;
  }
  /* .banner-main .carousel-caption .buynow {width: 149px; padding: 7px 0;} */
  .titlepage h2 {
    font-size: 32px;
  }

  .about .about_box span {
    font-size: 33px;
    line-height: 53px;
  }
  .margin {
    margin-top: 30px;
  }
  .carousel-inner .relative {
    top: 35%;
  }
  .about .about_box_ {
    margin-bottom: 30px;
  }
  .about .about_box_ span {
    font-size: 33px;
    line-height: 53px;
  }
  .about {
    background: inherit;
  }
  .testomonial_section {
    padding: 0px;
  }
  .cross_inner {
    transform: inherit;
  }
  .cross_layout {
    transform: inherit;
  }
  .testimonial_cont {
    padding-left: 10px;
    padding-right: 10px;
  }
  ul.link li {
    padding: 8px 9px;
    padding-bottom: 0px;
  }
  .row.contant-row {
    flex-wrap: wrap !important;
  }
  .nav {
    display: none;
  }
  .row {
    flex-wrap: nowrap;
  }
  .row.our-brand-row {
    flex-direction: column;
  }
  .row-header {
    max-width: 100%;
  }
  .main-menu ul > li a {
    font-size: 15px;
    padding: 14px 10px;
  }
  img.pomato {
    width: 74%;
    padding-left: 10%;
  }
  .main-menu ul {
    margin: 0px 15px 10px;
  }
  .footer .headinga span {
    font-size: 16px;
  }
  .copyright {
    margin-top: 60px;
  }
  .parant-brand {
    flex-direction: column;
  }
  .brand-child {
    max-width: 100%;
  }
  .banner-main .carousel-caption .search {
    display: none;
  }
  .form-control-search {
    width: 100%;
  }
  .row.about-main {
    flex-direction: column;
  }
  .phone-info {
    max-width: 100%;
  }
}
